<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h4 text-success fw-bold">{{isAddMode? 'Add' : 'Update'}} Currency</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form [formGroup]="marketForm" (ngSubmit)="onSubmit()">
                <div class="mb-2">
                    <select class="form-control" formControlName="market" name="market">
                        <option value="" selected>Select a Market</option>
                        <option *ngFor="let market of markets" [value]="market.value">{{market.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="form-control" type="number" formControlName="buyingPrice" name="buyingPrice" placeholder="Buying Price" min="0" (keyup)="checkValue($event)">
                </div>
                <div class="mb-2">
                    <input class="form-control" type="number" formControlName="sellingPrice" name="sellingPrice" placeholder="Selling Price" min="0" (keyup)="checkValue($event)">
                </div>
                
                <div class="mb-2">
                    <button class="btn btn-success" [disabled]="!marketForm.valid || is_loading" type="submit">{{is_loading ? 'Please wait': isAddMode? 'Add' : 'Update'}}</button>
                    <a [routerLink]="['/']" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>
        
    </div>
</div>